<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Go to login</title>
</head>
<body>

    <a href="/login/student">Login as a Student</a><br>
    <a href="/login/company">Login as a Company</a><br>
    <a href="/login/admin">Login as a Admin</a><br><br>

    Don't have account ?
    <a href="/signup">Sign up</a>

    
</body>
</html>